body{
    font-family: 'Macondo', cursive;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
}
h1{
    color: rgb(110, 109, 109);
    font-size: 300%;
    padding-top: 20px;
}
#header-left{
margin-top: 10%;
}
.header{
width: 100%;
display: flex;
text-align: left;
margin-left: 5%;
margin-top: 5%;
padding-inline: 10% 10%;
}
.header img{
    width: 80%;
    padding-bottom: 20px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.orange-color{
    color: orange;
}
.button{

    text-decoration: none;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 187, 255));
    padding: 10px 40px;
    border-radius: 50%;
    color: rgb(10, 10, 10);
}
#middle{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin: 0;
}

.third{
    width: 100%;
    display: flex;
    border: 10px 20px;
}
.third div{
text-align: center;
}
.recipies{
    text-align: center;
}
.footer{
    background-color: aqua;
    text-align: center;
}
.image-border{
    box-shadow: 10px 10px 10px 10px blue;
    width: 100%;
    border-radius: 30px;
    image-resolution: 100%;
}